# Environment variables
.env

# Virtual Environment
.venv/
venv/
ENV/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# IDE / OS files
.vscode/
.idea/
.DS_Store
